In [82]:
import sys
!"{sys.executable}" -m pip install pandas numpy

Requirement already satisfied: pandas in c:\Users\psrin\Documents\GitHub\IronViz\.venv\Lib\site-packages (3.0.1)
Requirement already satisfied: numpy in c:\Users\psrin\Documents\GitHub\IronViz\.venv\Lib\site-packages (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\Users\psrin\Documents\GitHub\IronViz\.venv\Lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\Users\psrin\Documents\GitHub\IronViz\.venv\Lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\Users\psrin\Documents\GitHub\IronViz\.venv\Lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [83]:
import pandas as pd
import numpy as np

awards = pd.read_csv(r"C:\Users\psrin\Downloads\DIMENSIONS_CORE_AWARD_DETAILS.csv")
for4 = pd.read_csv(r"C:\Users\psrin\Downloads\DIMENSIONS_FIELD_OF_RESEARCH_FOUR_DIGIT.csv")
orgs = pd.read_csv(r"C:\Users\psrin\Downloads\DIMENSIONS_RESEARCH_ORGANIZATIONS.csv")

awards.shape
for4.shape
orgs.shape

awards = awards[
    (awards["START_YEAR"] >= 2020) &
    (awards["START_YEAR"] <= 2024)
]

merged = awards.merge(
    for4,
    on="GRANT_ID",
    how="inner"
)

merged = merged.merge(
    orgs[["GRANT_ID", "RESEARCH_ORG_ID", "RESEARCH_ORG_NAME"]],
    on="GRANT_ID",
    how="left"
)

merged.head()

,GRANT_ID,GRANT_TITLE,GRANT_ABSTRACT,FUNDER_ORG_ID,FUNDER_ORG_NAME,FUNDER_ORG_PARENT_ID,FUNDER_ORG_PARENT_NAME,START_DATE,START_YEAR,END_DATE,END_YEAR,FUNDING_USD,LINKOUT,FUNDER_ORG_WIKIPEDIA,FOR4_CODE,FOR4_NAME,RESEARCH_ORG_ID,RESEARCH_ORG_NAME
0,grant.9413482,Novel IL-23 inhibitor for the treatment of alc...,NaN,grid.420085.b,National Institute on Alcohol Abuse and Alcoho...,grid.94365.3d,National Institutes of Health,9/20/2020,2020,8/31/2025,2025.0,3718650.0,https://reporter.nih.gov/project-details/10930848,https://en.wikipedia.org/wiki/National_Institu...,3204,Immunology,grid.266100.3,"UNIVERSITY OF CALIFORNIA, SAN DIEGO"
1,grant.12969656,Exposure to Per- and Polyfluoroalkyl Substance...,NaN,grid.280664.e,National Institute of Environmental Health Sci...,grid.94365.3d,National Institutes of Health,7/1/2022,2022,2/29/2024,2024.0,88882.0,https://reporter.nih.gov/project-details/10658859,http://en.wikipedia.org/wiki/National_Institut...,3213,Paediatrics,grid.189504.1,BOSTON UNIVERSITY MEDICAL CAMPUS
2,grant.12962853,How SSB Regulates YoaA-chi's Function in DNA D...,NaN,grid.280664.e,National Institute of Environmental Health Sci...,grid.94365.3d,National Institutes of Health,8/15/2022,2022,8/16/2024,2024.0,102815.0,https://reporter.nih.gov/project-details/10892199,http://en.wikipedia.org/wiki/National_Institut...,3105,Genetics,grid.15276.37,UNIVERSITY OF FLORIDA
3,grant.10021158,Investigating neurodevelopmental toxicity of p...,NaN,grid.280664.e,National Institute of Environmental Health Sci...,grid.94365.3d,National Institutes of Health,2/7/2022,2022,11/30/2026,2026.0,2419460.0,https://reporter.nih.gov/project-details/10992635,http://en.wikipedia.org/wiki/National_Institut...,3206,Medical Biotechnology,grid.266100.3,"UNIVERSITY OF CALIFORNIA, SAN DIEGO"
4,grant.12969975,Housing Policies and their Impact on Engagemen...,NaN,grid.280738.6,National Institute of Nursing Research,grid.94365.3d,National Institutes of Health,9/26/2022,2022,6/30/2026,2026.0,2253582.0,https://reporter.nih.gov/project-details/10872129,https://en.wikipedia.org/wiki/National_Institu...,3801,Applied Economics,grid.21107.35,JOHNS HOPKINS UNIVERSITY

In [84]:
aau_schools = [
    "Arizona State University",
    "Boston University",
    "Brown University",
    "California Institute of Technology",
    "Carnegie Mellon University",
    "Case Western Reserve University",
    "Columbia University",
    "Cornell University",
    "Dartmouth College",
    "Duke University",
    "Emory University",
    "Florida State University",
    "George Washington University",
    "Georgia Institute of Technology",
    "Harvard University",
    "Indiana University Bloomington",
    "Iowa State University",
    "Johns Hopkins University",
    "Massachusetts Institute of Technology",
    "Michigan State University",
    "New York University",
    "North Carolina State University",
    "Northwestern University",
    "Ohio State University",
    "Pennsylvania State University",
    "Princeton University",
    "Purdue University",
    "Rice University",
    "Rutgers University",
    "Stanford University",
    "Stony Brook University",
    "Texas A&M University",
    "Tufts University",
    "Tulane University",
    "University of Arizona",
    "University of California, Berkeley",
    "University of California, Davis",
    "University of California, Irvine",
    "University of California, Los Angeles",
    "University of California, San Diego",
    "University of California, Santa Barbara",
    "University of California, Santa Cruz",
    "University of Chicago",
    "University of Colorado Boulder",
    "University of Florida",
    "University of Illinois Urbana-Champaign",
    "University of Iowa",
    "University of Kansas",
    "University of Maryland, College Park",
    "University of Michigan",
    "University of Minnesota",
    "University of Missouri",
    "University of North Carolina at Chapel Hill",
    "University of Notre Dame",
    "University of Oregon",
    "University of Pennsylvania",
    "University of Pittsburgh",
    "University of Rochester",
    "University of Southern California",
    "University of Texas at Austin",
    "University of Utah",
    "University of Virginia",
    "University of Washington",
    "University of Wisconsin-Madison",
    "Vanderbilt University",
    "Washington University in St. Louis",
    "Yale University",
    "McGill University",
    "University of Toronto"
]

cmu_ids = [
    "grid.147455.6",
    "grid.448660.8",
    "grid.452171.4",
    "grid.484692.5",
    "grid.508475.b",
    "grid.509981.c",
    "grid.512173.3"
]

merged["institution_group"] = np.where(
    merged["RESEARCH_ORG_ID"].isin(cmu_ids),
    "CMU",
    np.where(
        merged["RESEARCH_ORG_NAME"].isin(aau_schools),
        "AAU",
        "Other"
    )
)

comparison_df = merged[
    merged["institution_group"].isin(["CMU", "AAU"])
].copy()

merged["institution_group"].value_counts()

institution_group
Other    180542
AAU       70176
CMU        1448
Name: count, dtype: int64

In [85]:
field_year = (
    comparison_df
    .groupby(["FOR4_CODE", "FOR4_NAME", "START_YEAR", "institution_group"])
    .agg(total_funding=("FUNDING_USD", "sum"))
    .reset_index()
)

pivot = field_year.pivot_table(
    index=["FOR4_CODE", "FOR4_NAME", "START_YEAR"],
    columns="institution_group",
    values="total_funding",
    fill_value=0
).reset_index()

pivot = pivot.rename(columns={
    "AAU": "AAU_funding",
    "CMU": "CMU_funding"
})

pivot.head()

institution_group,FOR4_CODE,FOR4_NAME,START_YEAR,AAU_funding,CMU_funding
0,3001,Agricultural Biotechnology,2020,1760243.0,400000.0
1,3001,Agricultural Biotechnology,2021,1748699.0,0.0
2,3001,Agricultural Biotechnology,2022,50715.0,0.0
3,3001,Agricultural Biotechnology,2023,348200.0,0.0
4,3001,Agricultural Biotechnology,2024,1123737.0,0.0

In [86]:
# --- 1. Extract 2020 and 2024 funding ---
fund_2020 = pivot[pivot["START_YEAR"] == 2020][
    ["FOR4_CODE", "AAU_funding"]
].rename(columns={"AAU_funding": "AAU_funding_2020"})

fund_2024 = pivot[pivot["START_YEAR"] == 2024][
    ["FOR4_CODE", "AAU_funding"]
].rename(columns={"AAU_funding": "AAU_funding_2024"})


# --- 2. Merge for growth calculation ---
growth = fund_2020.merge(
    fund_2024,
    on="FOR4_CODE",
    how="inner"
)


# --- 3. Compute log growth safely ---
# Only compute where both years have positive funding
growth["log_growth"] = np.where(
    (growth["AAU_funding_2020"] > 0) &
    (growth["AAU_funding_2024"] > 0),
    np.log(growth["AAU_funding_2024"] / growth["AAU_funding_2020"]),
    np.nan
)


# --- 4. Build 2024 snapshot ---
latest = pivot[pivot["START_YEAR"] == 2024].copy()

total_aau = latest["AAU_funding"].sum()
total_cmu = latest["CMU_funding"].sum()

latest["AAU_share"] = latest["AAU_funding"] / total_aau
latest["CMU_share"] = latest["CMU_funding"] / total_cmu

latest["targeting_index"] = (
    latest["CMU_share"] / latest["AAU_share"]
).replace([np.inf, -np.inf], np.nan)


# --- 5. Merge log growth into summary ---
field_metrics_summary = latest.merge(
    growth[["FOR4_CODE", "log_growth"]],
    on="FOR4_CODE",
    how="left"
)


# --- 6. Add total 5-year funding ---
total_5yr = (
    pivot
    .groupby("FOR4_CODE")["AAU_funding"]
    .sum()
    .reset_index(name="AAU_total_5yr")
)

field_metrics_summary = field_metrics_summary.merge(
    total_5yr,
    on="FOR4_CODE",
    how="left"
)


# --- 7. Inspect top growth fields ---
field_metrics_summary.sort_values("log_growth", ascending=False).head()

c:\Users\psrin\Documents\GitHub\IronViz\.venv\Lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,FOR4_CODE,FOR4_NAME,START_YEAR,AAU_funding,CMU_funding,AAU_share,CMU_share,targeting_index,log_growth,AAU_total_5yr
34,3302,Building,2024,598706512.0,0.0,0.088810,0.0,0.0,3.010962,829160836.0
45,3503,Business Systems In Context,2024,20378808.0,0.0,0.003023,0.0,0.0,2.801009,27840231.0
92,4101,Climate Change Impacts and Adaptation,2024,73974462.0,0.0,0.010973,0.0,0.0,1.485755,262499979.0
137,4802,Environmental and Resources Law,2024,31644861.0,0.0,0.004694,0.0,0.0,1.328672,637000432.0
157,5105,Medical and Biological Physics,2024,3666870.0,0.0,0.000544,0.0,0.0,1.286605,10396387.0

In [87]:
    # Cap extreme targeting values
    field_metrics_summary["targeting_index"] = (
        field_metrics_summary["targeting_index"]
            .replace([np.inf, -np.inf], np.nan)
    )

    # Inverse targeting (only under-targeted fields matter)
    field_metrics_summary["inverse_targeting"] = np.where(
        field_metrics_summary["targeting_index"] < 1,
        1 - field_metrics_summary["targeting_index"],
        0
    )

In [88]:
def normalize(series):
    return (series - series.min()) / (series.max() - series.min())

field_metrics_summary["growth_norm"] = normalize(
    field_metrics_summary["log_growth"].fillna(0)
)

field_metrics_summary["inverse_targeting_norm"] = normalize(
    field_metrics_summary["inverse_targeting"].fillna(0)
)

field_metrics_summary["scale_norm"] = normalize(
    np.log1p(field_metrics_summary["AAU_total_5yr"])
)

In [89]:
field_metrics_summary["opportunity_score"] = (
    0.5 * field_metrics_summary["growth_norm"] +
    0.35 * field_metrics_summary["inverse_targeting_norm"] +
    0.15 * field_metrics_summary["scale_norm"]
)

In [90]:
top_opportunities = (
    field_metrics_summary
        .sort_values("opportunity_score", ascending=False)
        .head(15)
)

top_opportunities[[
    "FOR4_CODE",
    "FOR4_NAME",
    "opportunity_score",
    "log_growth",
    "targeting_index",
    "AAU_total_5yr"
]]

,FOR4_CODE,FOR4_NAME,opportunity_score,log_growth,targeting_index,AAU_total_5yr
34,3302,Building,0.978697,3.010962,0.0,8.291608e+08
45,3503,Business Systems In Context,0.893829,2.801009,0.0,2.784023e+07
162,5110,Synchrotrons and Accelerators,0.873870,1.258161,0.0,1.407604e+09
137,4802,Environmental and Resources Law,0.861949,1.328672,0.0,6.370004e+08
92,4101,Climate Change Impacts and Adaptation,0.853793,1.485755,0.0,2.625000e+08
153,5101,Astronomical Sciences,0.849779,1.080865,0.0,7.792485e+08
113,4406,Human Geography,0.796282,0.602280,0.0,2.741083e+08
127,4610,Library and Information Studies,0.793792,0.504377,0.0,3.316041e+08
64,3708,Oceanography,0.785189,0.375257,0.0,3.305717e+08
144,4902,Mathematical Physics,0.782504,0.733651,0.0,9.364046e+07
157,5105,Medical and Biological Physics,0.773094,1.286605,0.0,1.039639e+07
103,4206,Public Health,0.769078,-0.117014,0.0,7.254335e+08
93,4102,Ecological Applications,0.760566,0.259687,0.0,1.467754e+08
30,3213,Paediatrics,0.760178,0.440892,0.0,8.124737e+07
95,4104,Environmental Management,0.757070,0.150242,0.0,1.755202e+08

In [91]:
from sklearn.linear_model import LinearRegression

forecast_rows = []

for field in pivot["FOR4_CODE"].unique():
    
    df_field = pivot[pivot["FOR4_CODE"] == field][
        ["START_YEAR", "AAU_funding"]
    ].dropna()
    
    if len(df_field) < 3:
        continue
    
    X = df_field["START_YEAR"].values.reshape(-1, 1)
    y = df_field["AAU_funding"].values
    
    model = LinearRegression()
    model.fit(X, y)
    
    # Predict 2025 and 2026
    future_years = np.array([[2025], [2026]])
    predictions = model.predict(future_years)
    
    forecast_rows.append({
        "FOR4_CODE": field,
        "slope": model.coef_[0],
        "pred_2025": predictions[0],
        "pred_2026": predictions[1]
    })

In [92]:
forecast_df = pd.DataFrame(forecast_rows)

forecast_df = forecast_df.merge(
    field_metrics_summary[["FOR4_CODE", "FOR4_NAME"]],
    on="FOR4_CODE",
    how="left"
)

forecast_df["pred_2025"] = forecast_df["pred_2025"].clip(lower=0)
forecast_df["pred_2026"] = forecast_df["pred_2026"].clip(lower=0)

In [93]:
# ---------------------------------------------
# Build Sankey dataset (post-opportunity scoring)
# ---------------------------------------------

top_codes = top_opportunities["FOR4_CODE"].astype(str).str.strip().unique()
comparison_df["FOR4_CODE"] = comparison_df["FOR4_CODE"].astype(str).str.strip()

comparison_top = comparison_df[
    comparison_df["FOR4_CODE"].isin(top_codes)
].copy()

aau_only_df = comparison_top[
    comparison_top["institution_group"] == "AAU"
]

funder_field = (
    aau_only_df
        .groupby(["FUNDER_ORG_NAME", "FOR4_CODE", "FOR4_NAME"])["FUNDING_USD"]
        .sum()
        .reset_index()
)

top_funders = (
    funder_field
        .groupby("FUNDER_ORG_NAME")["FUNDING_USD"]
        .sum()
        .sort_values(ascending=False)
        .head(12)
        .index
)

funder_field = funder_field[
    funder_field["FUNDER_ORG_NAME"].isin(top_funders)
]

sankey_df = funder_field.rename(columns={
    "FUNDER_ORG_NAME": "source",
    "FOR4_NAME": "target",
    "FUNDING_USD": "value"
})

sankey_df["FOR4_CODE"] = sankey_df["FOR4_CODE"].astype(str).str.strip()
growth_lookup = field_metrics_summary[["FOR4_CODE", "log_growth"]].copy()
growth_lookup["FOR4_CODE"] = growth_lookup["FOR4_CODE"].astype(str).str.strip()

sankey_df = sankey_df.merge(
    growth_lookup,
    on="FOR4_CODE",
    how="left"
)

sankey_df["growth_weighted_value"] = (
    sankey_df["value"] * sankey_df["log_growth"].fillna(0)
)

sankey_df.sort_values("value", ascending=False).head()

,source,FOR4_CODE,target,value,log_growth,growth_weighted_value
94,Office of Nuclear Physics,5110,Synchrotrons and Accelerators,1.253806e+09,1.258161,1.577491e+09
90,Engineering and Physical Sciences Research Cou...,4802,Environmental and Resources Law,5.723813e+08,1.328672,7.605068e+08
82,Directorate for Mathematical & Physical Sciences,5101,Astronomical Sciences,5.030094e+08,1.080865,5.436852e+08
38,Directorate for Computer & Information Science...,3302,Building,4.758565e+08,3.010962,1.432786e+09
23,Canadian Institutes of Health Research,4206,Public Health,2.967058e+08,-0.117014,-3.471870e+07

In [94]:
from pathlib import Path
import numpy as np
import pandas as pd

# -------------------------------
# Resolve repo output directory
# -------------------------------
repo_root = None
for candidate in [Path.cwd(), *Path.cwd().parents]:
    if (candidate / "backend" / "data").exists():
        repo_root = candidate
        break
if repo_root is None:
    repo_root = Path.cwd()

output_dir = repo_root / "backend" / "data"
output_dir.mkdir(parents=True, exist_ok=True)

# -------------------------------
# Build/normalize field summary
# -------------------------------
if "field_summary" in globals() and isinstance(field_summary, pd.DataFrame):
    base_summary = field_summary.copy()
elif "field_metrics_summary" in globals() and isinstance(field_metrics_summary, pd.DataFrame):
    base_summary = field_metrics_summary.copy()
else:
    raise ValueError("Need field_summary or field_metrics_summary in memory before export.")

rename_map = {
    "AAU_total_5yr": "AAU_total",
    "CMU_total_5yr": "CMU_total",
    "AAU_share": "aau_share",
    "CMU_share": "cmu_share",
    "log_growth": "growth_rate"
}
base_summary = base_summary.rename(columns=rename_map)

for key_col in ["FOR4_CODE", "FOR4_NAME"]:
    if key_col in base_summary.columns:
        base_summary[key_col] = base_summary[key_col].astype(str).str.strip()

for needed_col in ["CMU_total", "AAU_total", "cmu_share", "aau_share", "growth_rate", "targeting_index"]:
    if needed_col not in base_summary.columns:
        base_summary[needed_col] = 0.0

if (base_summary["cmu_share"] == 0).all() and "CMU_total" in base_summary.columns:
    total_cmu = base_summary["CMU_total"].sum()
    base_summary["cmu_share"] = base_summary["CMU_total"] / (total_cmu + 1e-6)

if (base_summary["aau_share"] == 0).all() and "AAU_total" in base_summary.columns:
    total_aau = base_summary["AAU_total"].sum()
    base_summary["aau_share"] = base_summary["AAU_total"] / (total_aau + 1e-6)

if (base_summary["targeting_index"] == 0).all():
    base_summary["targeting_index"] = base_summary["cmu_share"] / (base_summary["aau_share"] + 1e-6)

if "under_target_gap" not in base_summary.columns:
    base_summary["under_target_gap"] = base_summary["aau_share"] - base_summary["cmu_share"]

field_summary_export = base_summary.copy()
field_summary_export.to_csv(output_dir / "field_summary.csv", index=False)

# -------------------------------
# Visual 1: Opportunity Quadrant
# -------------------------------
quadrant_df = field_summary_export[[
    "FOR4_CODE",
    "FOR4_NAME",
    "targeting_index",
    "growth_rate",
    "AAU_total"
]].copy()
quadrant_df = quadrant_df.fillna(0)
quadrant_df.to_json(output_dir / "quadrant.json", orient="records", indent=2)

# -------------------------------
# Visual 2: Treemap
# -------------------------------
treemap_df = field_summary_export[[
    "FOR4_NAME",
    "AAU_total",
    "under_target_gap"
]].copy()
treemap_df = treemap_df.fillna(0)
treemap_df.to_json(output_dir / "treemap.json", orient="records", indent=2)

# -------------------------------
# Visual 3: Sankey
# -------------------------------
if "sankey_df" not in globals() or not isinstance(sankey_df, pd.DataFrame):
    raise ValueError("Need sankey_df in memory before export.")

sankey_export = sankey_df.copy()
for col in ["source", "target"]:
    if col in sankey_export.columns:
        sankey_export[col] = sankey_export[col].astype(str).str.strip()

if "FOR4_CODE" in sankey_export.columns and "FOR4_CODE" in field_summary_export.columns:
    sankey_export["FOR4_CODE"] = sankey_export["FOR4_CODE"].astype(str).str.strip()
    cmu_totals = field_summary_export[["FOR4_CODE", "CMU_total"]].rename(columns={"CMU_total": "cmu_field_total"})
    sankey_export = sankey_export.merge(cmu_totals, on="FOR4_CODE", how="left")
elif "target" in sankey_export.columns and "FOR4_NAME" in field_summary_export.columns:
    cmu_totals = field_summary_export[["FOR4_NAME", "CMU_total"]].rename(columns={"CMU_total": "cmu_field_total"})
    sankey_export = sankey_export.merge(cmu_totals, left_on="target", right_on="FOR4_NAME", how="left")

if "cmu_field_total" not in sankey_export.columns:
    sankey_export["cmu_field_total"] = 0.0

sankey_export["cmu_field_total"] = sankey_export["cmu_field_total"].fillna(0)

keep_cols = [c for c in ["source", "target", "value", "cmu_field_total", "FOR4_CODE", "log_growth", "growth_weighted_value"] if c in sankey_export.columns]
sankey_export = sankey_export[keep_cols]
sankey_export.to_json(output_dir / "sankey.json", orient="records", indent=2)

# -------------------------------
# Visual 4: Forecast Bands
# -------------------------------
forecast_parts = []

if "pivot" in globals() and isinstance(pivot, pd.DataFrame):
    actual_cols = [c for c in ["FOR4_CODE", "FOR4_NAME", "START_YEAR", "CMU_funding", "AAU_funding"] if c in pivot.columns]
    if {"FOR4_CODE", "FOR4_NAME", "START_YEAR"}.issubset(actual_cols):
        actual_df = pivot[actual_cols].copy()
        actual_df = actual_df.rename(columns={
            "START_YEAR": "year",
            "CMU_funding": "cmu_funding",
            "AAU_funding": "aau_funding"
        })
        if "cmu_funding" not in actual_df.columns:
            actual_df["cmu_funding"] = np.nan
        if "aau_funding" not in actual_df.columns:
            actual_df["aau_funding"] = np.nan
        actual_df["cmu_forecast"] = np.nan
        actual_df["aau_forecast"] = np.nan
        forecast_parts.append(actual_df[["FOR4_CODE", "FOR4_NAME", "year", "cmu_funding", "aau_funding", "cmu_forecast", "aau_forecast"]])

if "forecast_df" in globals() and isinstance(forecast_df, pd.DataFrame) and not forecast_df.empty:
    pred_df = forecast_df.copy()
    if "FOR4_CODE" in pred_df.columns:
        pred_df["FOR4_CODE"] = pred_df["FOR4_CODE"].astype(str).str.strip()
    if "FOR4_NAME" not in pred_df.columns and "FOR4_NAME" in field_summary_export.columns:
        pred_df = pred_df.merge(field_summary_export[["FOR4_CODE", "FOR4_NAME"]], on="FOR4_CODE", how="left")

    for yr_col, yr in [("pred_2025", 2025), ("pred_2026", 2026)]:
        if yr_col in pred_df.columns:
            block = pred_df[["FOR4_CODE", "FOR4_NAME", yr_col]].copy()
            block = block.rename(columns={yr_col: "aau_forecast"})
            block["year"] = yr
            block["cmu_funding"] = np.nan
            block["aau_funding"] = np.nan
            block["cmu_forecast"] = np.nan
            forecast_parts.append(block[["FOR4_CODE", "FOR4_NAME", "year", "cmu_funding", "aau_funding", "cmu_forecast", "aau_forecast"]])

if forecast_parts:
    forecast_export = pd.concat(forecast_parts, ignore_index=True)
    forecast_export = forecast_export.sort_values(["FOR4_CODE", "year"]).reset_index(drop=True)
else:
    forecast_export = pd.DataFrame(columns=["FOR4_CODE", "FOR4_NAME", "year", "cmu_funding", "aau_funding", "cmu_forecast", "aau_forecast"])

forecast_export.to_json(output_dir / "forecast.json", orient="records", indent=2)

print("Exported files:")
print(output_dir / "field_summary.csv")
print(output_dir / "quadrant.json")
print(output_dir / "treemap.json")
print(output_dir / "sankey.json")
print(output_dir / "forecast.json")

Exported files:
c:\Users\psrin\Documents\GitHub\IronViz\backend\data\field_summary.csv
c:\Users\psrin\Documents\GitHub\IronViz\backend\data\quadrant.json
c:\Users\psrin\Documents\GitHub\IronViz\backend\data\treemap.json
c:\Users\psrin\Documents\GitHub\IronViz\backend\data\sankey.json
c:\Users\psrin\Documents\GitHub\IronViz\backend\data\forecast.json